name: CI/CD

on:
  push:
    branches:
      - dev
      - staging
      - prod
    paths-ignore:
      - README.md
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

env:
  AWS_REGION: ap-south-1
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  ECR_REPOSITORY: endtoend

jobs:

  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build
        run: go build -o go-web-app .

      - name: Test
        run: go test ./...

  push-to-ecr:
    runs-on: ubuntu-latest
    needs: build-test
    outputs:
      image_tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Generate image tag
        id: tag
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & push image
        run: |
          IMAGE_URI=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${{ steps.tag.outputs.tag }}
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

  update-gitops:
    runs-on: ubuntu-latest
    needs: push-to-ecr

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.GITOPS_REPO }}
          token: ${{ secrets.END_TO_END_PAT_TOKEN }}
          path: gitops

      - name: Detect environment
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"

          if [ "$BRANCH" = "dev" ]; then
            echo "VALUES=helm/go-web-app/dev-values.yaml" >> $GITHUB_ENV
          elif [ "$BRANCH" = "staging" ]; then
            echo "VALUES=helm/go-web-app/staging-values.yaml" >> $GITHUB_ENV
          elif [ "$BRANCH" = "prod" ]; then
            echo "VALUES=helm/go-web-app/prod-values.yaml" >> $GITHUB_ENV
          else
            exit 1
          fi

      - name: Update image tag
        run: |
          sed -i "s|tag:.*|tag: \"${{ needs.push-to-ecr.outputs.image_tag }}\"|" gitops/$VALUES

      - name: Commit & push
        run: |
          cd gitops
          git config user.name "Prasanna"
          git config user.email "prasanna.m.loa@gmail.com"
          git add .
          git commit -m "ci: update image tag to ${{ needs.push-to-ecr.outputs.image_tag }}" || echo "No changes"
          git push
